/*  =========================================================================================
 *  Writer:     YC Wong
 *  Date:       Jan-Feb 2024
 *  Rev No:     1.0.0
 *  Notes:      CSS file created to control the A4-sized PDF format of the Audio-Technica 
 *              AT-DAC100 sample user manual.
 *  ========================================================================================= */





/*  ========================================================================================= */
/*  PAGE-LEVEL SETTINGS */
/*  ========================================================================================= */
/*  Set the page size and margins for the whole document. */
@page {
    size: A4;
    margin-top: 1.6cm;
    margin-right: 1.5cm;
    margin-bottom: 1.5cm;
    margin-left: 1.5cm;    
}
/*  ========================================================================================= */





/*  ========================================================================================= */
/*  FONT SETTINGS */
/*  ========================================================================================= */
/*  Define the default font family for the whole document. */
* {
    font-family: arial, helvetica, sans-serif;
}

/* Define the default font size and line spacing for the body text. */
body {    
    font-size: 9.5pt;
    font-weight: 300;
    line-height: 1.73;
}

/* Define a smaller font size and line height for footnote-level text. */
*[outputclass~="fn_class"], *[class~='topic/fn'] {

    /* NB: Set the font-size here using pt instead of em, otherwise the footnote text will 
     * appear slightly smaller than the footnote number that precedes it. */
    font-size: 8.2pt;
    
    font-family: arial, helvetica, sans-serif;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 2px;
}

/* Set a smaller font size for the superscript. */
sup {
    /* Default value here is 'smaller' which will appear too big relative to the
     * default size of the body font, so we set it to an pt value here.  */
    font-size: 4.5pt; 
}
/*  ========================================================================================= */





/*  ========================================================================================= */
/*  FRONT PAGE SETTINGS */
/*  ========================================================================================= */
/*  Set the image for the front page. */
@page front-page {
    background-image: url("images/_i_front_page.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Set the position of the title. */
*[class ~="front-page/front-page-title"] {
    font-size: 28pt;
    font-weight: 400;
    text-align: right;
    margin-top: 25px;
    padding-right: 0px;    
}

/*  Set the position of the subtitle. */
*[class ~="bookmap/booktitlealt"] {
    font-size: 12pt;
    font-weight: 700;
    text-align: right;
    margin-top: 53px;
    padding-right: 0px;    
}

/* Add and position some additional text on the front page. */
*[class ~= "front-page/front-page-title"]:after(1) {
    content: "D/A Converter";
    display: block;
    /*  Define the font family here too, otherwise Oxygen will use its default font. */
    font-family: arial, helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 500;
    text-align: right;    
    padding-right: 0px;
    position: relative;
    top: -32px;
}

/* Add and position more additional text on the front page. */
*[class ~= "front-page/front-page-title"]:after(2) {
    content: "SAMPLE FOR EVALUATION - DO NOT DISTRIBUTE";
    display: block;
    /*  Define the font family here too, otherwise Oxygen will use its default font. */
    font-family: arial, helvetica, sans-serif;
    font-size: 18pt;
    font-weight: 700;
    color: red;
    text-align: center;
    font-style: italic;
    position: relative;
    top: 226px;
    border: 2px solid #747d84;    
}

/* Suppress the title of the document from showing as a bookmark in the PDF */
*[class~='front-page/front-page-title'] > *[class~='bookmap/booktitle'] > *[class~='bookmap/mainbooktitle'] {
	bookmark-label: none;
	-ah-bookmark-label:none;
}
/*  ========================================================================================= */





/*  ========================================================================================= */
/*  PREFACE SETTINGS */
/*  ========================================================================================= */
/*  The following code is modified from information found on this Oxygen forum page:
 *  https://www.oxygenxml.com/forum/common-problems/topic19961.html 
 *  Quote - "However, there is a way to match the preface:
 *  - set an outputclass="preface" attribute on your "preface" reference in the DITA Map, then,
 *  in your customization CSS set a named-page for it, then apply your own header customization." */
 
/*  The outputclass="preface" attribute was inserted into the <preface> tag in the main ditamap.
 *  This allows us to define it here as a named-page (simply 'preface' in this case), and to
 *  then use it for customisation in CSS. */
 *[outputclass~="preface"]{
    page: preface !important;    
    page-break-before: always;
}

@page preface{
    @bottom-center {
    
        /*  Get the page number of the single-page preface to show as "- i -" at the bottom. */
        content: "- i -";
        
        font-family: arial, helvetica, sans-serif;
        font-size: 8.2pt;       
        vertical-align: top;      
        padding-top: 2px;
    }    
}
/*  ========================================================================================= */





/*  ========================================================================================= */
/*  LIST SETTINGS */
/*  ========================================================================================= */
ul, ol {
    display: block;
    margin-top: 0 !important;
    margin-bottom: 6pt !important;
    line-height: 1.73 !important;
    font-weight: 300 !important;
}

/* Set the unordered lists closer the left-hand side. */
ul {
    padding-left: 13px;
}

/* Set the ordered lists closer the left-hand side. */
ol{
    padding-left: 19px;
}
/*  ========================================================================================= */





/*  ========================================================================================= */
/*  HEADER SETTINGS */
/*  ========================================================================================= */
/*  Create a header border. Only have the bottom border appear. */
@page {
    @top-center {                
        content: " ";
        font-size: 2pt;        
        vertical-align: bottom;
        border-color: #747d84;
        border-style: solid;
        border-width: 0px 0px 8px 0px; 
        padding-bottom: 0px;
        margin-bottom: 0;     
    }
}

/* Remove chapter headings at the top left of the page if the chapter spans more than 1 page. */
@page :left {
    @top-left {
        content: none;        
    }
}

/* Remove chapter headings at the top right of the page if the chapter spans more than 1 page. */
@page :right {
    @top-right {
        content: none;
    }
}

/* Remove the 'Chapter NN.' wording from the chapter header. */
*[class~="topic/topic"] > *[class~="topic/title"]:before {
    display:none;
}

/*  Set the format of the chapter header. */
*[class~='topic/topic'] > *[class~='topic/title'] {
    display: block;
    font-size: 16pt !important;
    font-weight: 700;
    border-color: #747d84;
    border-style: solid;
    border-width: 1px 0px 1px 0px; 
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 4px;
}

/* Set the format of the topic header that appears under the chapter header. */
*[class~='topic/topic'] *[class~='topic/topic'] > *[class~='topic/title'] {
    display: block;
    font-size: 13pt !important;
    letter-spacing: 1px; /* To have the letters slightly more spaced out. */
    color: white;
    border-style: none;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #747d84;
    margin-top: 15px;    
}

/* Set the format of the section title that appears under the topic header. */
*[class~='topic/topic'] *[class~='topic/section'] > *[class~='topic/title'] {
    display: block;
    font-size: 13pt !important;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #747d84;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 4px;
    margin-top: 0px;
}

/*  The outputclass="suppress_header_border" attribute/value was inserted in the
 *  main ditamap. This allows us to define it here as a named-page
 * (i.e. "suppress_header_border"), and to then use it for customisation in CSS. */
*[outputclass~="suppress_header_border"] { 
    page: suppress_header_border !important;
}

/*  Suppress the header border from showing */
@page suppress_header_border {  
    @top-center {
        content: none;
    }
}
/*  ========================================================================================= */





/*  ========================================================================================= */
/*  FOOTER SETTINGS */
/*  ========================================================================================= */
/*  Reset the page counter to when the first chapter starts; code is from this Oxygen tutorial:
 *  https://www.oxygenxml.com/doc/versions/25.1/ug-pdf-css/topics/dcpp_numbering_intro.html#dcpp_how_to_reset_page_numbering_at_first_chapter_part__section_dfn_5st_dpb */
*[class ~= "map/map"] > *[class ~= "toc/toc"] + *[class ~= "topic/topic"][is-chapter],
*[class ~= "map/map"] > *[class ~= "topic/topic"][is-frontmatter] + *[class ~= "topic/topic"][is-chapter] {
    counter-reset: page 1;
}
*[class ~= "map/map"] > *[class ~= "toc/toc"] + *[class ~= "topic/topic"][is-part],
*[class ~= "map/map"] > *[class ~= "topic/topic"][is-frontmatter] + *[class ~= "topic/topic"][is-part] {
    counter-reset: page 1 chapter;
}

/* Set the footer to show the page number and comment. */
@page {
    @bottom-center {
        content: "Pg " counter(page) " - Sample PDF generated using DITA XML by YC Wong (FOR EVALUATION - DO NOT DISTRIBUTE)";
        font-size: 8.2pt;        
        vertical-align: top;      
        padding-top: 2px;        
        white-space:nowrap;
    }
    
    /* Define the fonts for the footer. */
    font-family: arial, helvetica, sans-serif;
}
/*  ========================================================================================= */





/*  ========================================================================================= */
/*  FINE-TUNE FORMAT SETTINGS */
/*  ========================================================================================= */
/*  Set the format of the <line> tags that have an outputclass="line_entry" attribute,
 *  for better alignment. This is to replicate the vertical spacing between different
 *  lines in the same paragraph. */
*[outputclass~="line_entry"] {
    margin: 0;
    line-height: 1.73;
}

/* Set margins for text that appears under the chapter level. */
*[outputclass~="chapter_para_margins"] {
    margin-top: 11.5pt;
    margin-bottom: 1.5pt;
}

/* Set margins for text that appears under the topic level. */
*[outputclass~="topic_para_margins"] {
    margin-top: 9.5pt;
    margin-bottom: 1pt;
}

/* Reduce the line spacing slightly so that the table looks more balanced;
 * suppress words from breaking via hyphens. */
*[outputclass~="part_names_and_functions_table"] {
    font-size: 9pt;
    line-height: 1.63;
    hyphens: manual;
}

/*  Align all entries to the left in the "part_names_and_functions_table" properties table
 *  and give it a bit more padding than the default. */
*[class~='topic/stentry'] {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

/* Suppress words in this table from breaking via hyphens. */
*[outputclass~="specifications_table"] {
    hyphens: manual;
    margin-top: 20px;
}
/*  ========================================================================================= */





/*  ========================================================================================= */
/*  BACK PAGE AND SPECIAL FOOTER SETTINGS */
/*  ========================================================================================= */
/*  The outputclass="back-page" attribute/value was inserted into the <appendix> tag in the
 *  main ditamap. This allows us to define it here as a named-page ('back-page' in this
 *  case), and to then use it for customisation in CSS. */
*[outputclass~="back-page"] { 
    page: back-page !important;
    page-break-before: always;
}

@page back-page {  
    @bottom-center {
        /*  Suppress the page number from showing up on the last page. */
        content: none;
    }    
  
  /* Set the bottom margin smaller here, so that we can position the company information lower down. */
  margin-bottom: 1.0cm;
}

/* Positioning the footers on the last page. */
*[outputclass~="company_info_japan_pt1"] {
    position: relative;
    top: 257px;    
    font-size: 7pt !important;
    letter-spacing: 0.5px;
    line-height: 0.93 !important;
    font-weight: 500;
}

*[outputclass~="company_info_japan_pt2_position"] {
    position: relative;
    top: 256px;
}

*[outputclass~="company_info_japan_pt2_font"] {
    font-size: 6pt !important;
    line-height: 0.93 !important;
    font-weight: 100;
}
*[outputclass~="docu_ver"] {
    position: relative;
    font-size: 6.5pt;
    text-align: right;    
    top: 307px;
}
/*  ========================================================================================= */
